
*.metadata
# *.flexLibProperties
# *.project
# *.actionScriptProperties
bin
bin-*
bin-debug
bin-debug-*
bin-release
bin-release-*
publish
*.settings
# .externalToolBuilders
.autotools
.cproject
*.o
/tools/apache-ant-1.8.4
/tools/sdk
*test0*
*test1*
/client/sandbox
classes
gametask.jar
/test
asdoc-output
thumbs.db